

@import '';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 247, 165);
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}


/** global classes styling **/

#offers {
  margin-top: 30px;
}


@media (max-width: 550px) {
  #offers-img {
    display: none;
  }
}

#offers .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #offers .description {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #offers {
    margin-top: 0;
  }
}

#autors {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#autors > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.services > .free {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}


.services > ol {
  margin: 15px 0;
}

.services > ol > li {
  padding: 5px 0;
}

.services > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.services > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  .services {
    flex-direction: column;
  }
  .services {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}