
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }
  