
footer {
    margin-top: 30px;
    background-color: rgb(177, 174, 174);
    padding: 20px;
  }
  
  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    color: rgb(26, 26, 26);
  }
  